body {
  background-color: rgb(243, 234, 234);
  width: 70%;
  margin: 0 auto;
}

.upper-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
#new-membership {
  background-color: blue;
  color: white;
  height: 30px;
  border-radius: 5px;
  padding: 0 20px;
}
